@(posts: java.util.List[models.blog.Post],  aProcessor: org.pegdown.PegDownProcessor) 

@views.html.blog.evolved.head("Post") {
	<!--
	<form>
		<a href="@controllers.blog.routes.Blog.logout">logout</a>
	</form>
	-->

	<div class="container title">
		Evolved!
	</div>
	<div class="container main">

		<div class="row">
			<div class="span10">
			@for(aPost <- posts) {
				<article>
					<h2><a href="@controllers.blog.routes.Blog.show(aPost.id)">@aPost.header</a></h2>
					<p>
						@Html(aProcessor.markdownToHtml(aPost.text))
					</p>
				</article>
			}
			</div>
			<div class="span2 navigation">
			    <ul class="nav nav-tabs nav-stacked">
				    <li class="active">
				    	<a href="#">Home</a>
				    </li>
				    <li><a href="#">Tags</a></li>
			    </ul>				
			</div>			
		</div>
	</div>
}
