@(aPost: models.blog.Post, aProcessor: org.pegdown.PegDownProcessor)

@head("Post") {
<div class="container">
<form class="navbar-form pull-right">
	<a href="@controllers.blog.routes.Blog.logout">logout</a>
</form>
<!-- Main hero unit for a primary marketing message or call to action -->
<br>
<div class="hero-unit">
	<h1>Our Blog Tutorial</h1>
	<p>How we create a simple Blog</p>
</div>

<!-- Example row of columns -->
<div class="row">
	<div class="span12">
		<h2>@aPost.header</h2>
		<p>@Html(aProcessor.markdownToHtml(aPost.text))</p>

	</div>
</div>
</div>
}
