@(aPostForm: Form[models.blog.Post])

@import helper.twitterBootstrap._

@headAdmin("Post") {
	@helper.form(action = controllers.blog.routes.Admin.submitNewPost()) {
		@helper.inputText(aPostForm("header"))
		@helper.textarea(field = aPostForm("text"), args = 'rows -> 3, 'cols -> 50)
		@if(aPostForm("id") == 0) {
			<input type="submit" action="@controllers.blog.routes.Admin.submitNewPost()"/>
		} else {
			<input type="submit" action="@controllers.blog.routes.Admin.submitUpdatePost(3L)"/>	
		}
	}
} 