@main("Saisie du siteswap généralisé") {
	<h2>Grille de saisie</h2>
	<div class="claro">
	<div id="jlabApplet">
	    <applet archive="/jugglinglab.jar" code="JugglingLab" width="600" height="500">
	    <param name="config" value="entry=none;view=edit">
	    <param name="notation" value="siteswap">
	    <param name="pattern" value="3">
	    </applet>		
	</div>
	
	<button id="convertForm">Juggle it</button><br><br>
	<form id="gridForm">
	   <input type="text" name="vnSiteswap" value="value1">
	</form>
	<br><br>
	<b>The form as JSON:</b>
	<pre id="output"></pre>
	
	</div>
}
