@(title: String)(content: Html)

<!DOCTYPE html>
<html>
	<head>
		<title>@title</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<!-- dojo -->
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.8.0/dijit/themes/claro/claro.css">
		<!--<link rel="stylesheet" href="./public/stylesheets/main.css">-->
		<script>
			dojoConfig = {
				async : true, // enables AMD loader
				parseOnLoad : false
			};

		</script>
		<script src="@routes.Assets.at("js/dojo/dojo.js")"></script>
		<script src="@routes.Assets.at("js/dijit/dijit.js")"></script>
	</head>
	<body class="claro">
		<div id="jlabApplet"></div>
		@content
	</body>
</html>
