@(tests: java.util.ArrayList[GSTest])

@main("Saisie du siteswap généralisé")  {
<script>
	require(["dojo/query", "dojo/dom", "dojo/on", "dojo/request", "dojo/parser", "dojo/json", "gsModule", "dojo/_base/array", "dojo/NodeList-manipulate", "dojo/domReady!"], function(query, dom, on, request, parser, json, trick, arr, manip) {
		testClick = function(buttonDomNode, ssBase, ssHands) {
			buttonDomNode.on("click", function() {
				expSsBase = ssBase;
				expHands = ssHands;
				console.info(expSsBase + ' ' + expHands);
				var params = {
					ss : expSsBase,
					hands : expHands
				};
				console.info(json.stringify(params));
				request("juggleTest", {
					handleAs : "text/html",
					data : json.stringify(params),
					method : "POST",
					headers : {
						"Content-Type" : "application/json"
					}
				}).then(function(response) {
					console.info("reponse:" + response);
					dom.byId("jlabApplet").innerHTML = response;
				}, function(err) {
					console.info("Error:" + err);
				});
			});
		}
		// on recup l'ensemble des lignes decrivant les parametres attendus et obtenus
		// puis on affecte au bouton les parametres
		var list = query(".test");
		arr.forEach(list, function(aNode) {
			var listTest = query("td", aNode);
			console.info(listTest);
			this.testClick(listTest.at(1), listTest.at(2).innerHTML(), listTest.at(3).innerHTML());
			this.testClick(listTest.at(4), listTest.at(5).innerHTML(), listTest.at(6).innerHTML());
		});
	});

</script>
<h2>Test tricks</h2>
<table>
	<tr>
		<td>name</td>
		<td>Ss expected</td>
		<td>hands expected</td>
		<td>Ss found</td>
		<td>Hands found</td>
	</tr>

		@for( t <- tests ) {
		<tr class="test">
			<td>@t.getName()</td>
			<td>
			<button class="exp">
				play
			</button></td>
			<td>@t.getExpVnSs()</td>
			<td>@t.getExpHands()</td>
			<td>
			<button class="res">
				play
			</button></td>
			<td>@t.getaSs().asVanillaSiteswap()</td>
			<td>@t.getaSs().asJlabHandNotation()</td>
			<td></td>
		</tr>
		}

</table>
} 